// Custom styles.
// $avatar-url: '{{site.baseurl}}/assets/images/avator_430.jpg';

.avator {
  width: 102px;
  height: 102px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  background-image: url($avatar-url);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  
}
.info-container {
  margin: 20px auto;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  .item {
    padding: 10px 0;
  }
}

.mw-100p {
  max-width: 100%;
}
